<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Cirugia de Traumatología y Ortopedia</h2>
                <hr class="light">
                <p class="text-faded">Mejora tu calidad de vida, vive sin dolor articular. Experiencia y calidad nos respaldan</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
